@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #fffafa;
    --aside-color: #fff;
    --text-color: #2b2b2b;

    --trans-03: all .3s ease;
    --trans-05: all .5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: .95rem;
    color: var(--text-color);
}

body {
    background: var(--bg-color);
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    background: var(--aside-color);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    transition: var(--trans-05);
}

aside.slide {
    width: 60px;
    transition: var(--trans-05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.logo a {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.logo a span {
    font-size: .8rem;
    font-weight: 400;
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

nav {
    height: 100%;
    overflow-y: auto;
    margin-top: 30px;
}

nav::-webkit-scrollbar {
    width: .5rem;
}

nav::-webkit-scrollbar-thumb {
    background: transparent;
}

nav ul li {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

nav ul li.end {
    margin-bottom: 100px;
}

nav ul li a {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    transition: var(--trans-03);
}

nav ul li a span {
    height: 40px;
    width: 40px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

nav ul li a i {
    font-size: 1.3rem;
    transition: var(--trans-05);
}

nav ul li a i.bx-chevron-down {
    position: relative;
    margin-left: auto;
    margin-right: 5px;
}

nav ul li ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: var(--trans-05);
}

nav ul li ul.show {
    max-height: 200px;
    opacity: 1;
    transition: var(--trans-05);
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    padding-left: 50px;
}

/* header */

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    padding: 0 20px 0 270px;
    background: var(--aside-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    transition: var(--trans-05);
}

.header.slide {
    padding-left: 80px;
    transition: var(--trans-05);
}

.menu-toggle {
    display: flex;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10.5px;
    left: -10px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle span {
    position: block;
    height: 2px;
    width: 20px;
    border-radius: 10px;
    background: var(--text-color);
    transition: var(--trans-03);
}

.menu-toggle span:nth-child(2) {
    width: 8px;
}

.menu-toggle span:nth-child(3) {
    width: 14px;
}

.menu-toggle input:checked ~ span {
    width: 20px;
}

/* main */

main {
    padding: 80px 20px 0 270px;
    transition: var(--trans-05);
    z-index: -1;
}

main.slide {
    padding-left: 80px;
    transition: var(--trans-05);
}


/* responsive breakpoint */

@media screen and (max-width: 576px){
    .header p {
        display: none;
    }
}

@media screen and (max-width: 414px){
    aside {
        left: -255px;
    }

    aside.slide {
        width: 250px;
        left: 0;
    }

    .header, main {
        padding-left: 10px;
    }

    main.slide {
        padding-left: 10px;
    }

    .header.slide {
        padding-left: 270px;
    }    

    .menu-toggle span:nth-child(2), .menu-toggle span:nth-child(3) {
        width: 20px;
    }

    .menu-toggle input:checked ~ span:nth-child(2) {
        width: 8px;
    }

    .menu-toggle input:checked ~ span:nth-child(3) {
        width: 14px;
    }
}
